<!DOCTYPE html>
<html>
<head>
    <title>Booking Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4 d-flex align-items-center justify-content-center">
    <div class="card p-5 w-50">
        <h2 class="text-success">Appointment Booked Successfully</h2>
        <hr>
        <p><strong>Patient:</strong> {{ booking.patient.name }}</p>
        <p><strong>Phone:</strong> {{ booking.patient.phone_no }}</p>
        <p><strong>Doctor:</strong> {{ booking.doctor.name }}</p>
        <p><strong>Specialization:</strong> {{ booking.doctor.specialization }}</p>
        <p><strong>Date:</strong> {{ booking.date }}</p>
        <p><strong>Slot:</strong> {{ booking.slot.start_time }} - {{ booking.slot.end_time }}</p>
        <p><strong>Reason:</strong> {{ booking.reason }}</p>
    </div>
</div>



</body>
</html>
